<div class="header">
  <div>
     <a class="nav" href="/">Home</a>
    <a class="nav" href="/">About</a>
    <a class="nav" href="/">Contact</a>
    <a class="nav" href="/resturants">Resturants</a>
  </div>
   <img src="images/logo.png" alt="Dev-eats-logo" class="logo">
</div>